.container-border {
    border: 1px solid;
    border-color: Black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}

.bg-beige {
    background-color: beige;
}

.navbar-brand {
    padding: 0;
}
.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 0px;
    line-height: 50px;
    float: none;
}

.container {
    max-width: 1680px;
    width: 100%;
}

.jumbotron {
    height: 560px;
}

.dot1 {
    height: 25px;
    width: 25px;
    background-color: #e6be88;
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    height: 25px;
    width: 25px;
    background-color: #d2691e;
    border-radius: 50%;
    display: inline-block;
}

.dot3 {
    height: 25px;
    width: 25px;
    background-color: #8b4513;
    border-radius: 50%;
    display: inline-block;
}

.hr1 {
    height: 1px;
    background-color: #e6be88;
}


.hr2 {
    height: 1px;
    background-color: #d2691e;
}

.hr3 {
    height: 1px;
    background-color: #8b4513;
}

.btn-info {
    background-color: #921302;
    border-color: #921302;
}

.btn.btn-info.active {
    background-color: #921302;
    border-color: #921302;
}